
<div id="app">
  <nav class="navbar is-transparent">
  <div class="navbar-brand">
    <a class="navbar-item" routerLink="/" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">MyCompany</a>
    <div class="navbar-burger burger" >
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </div>   
  </div>
  
  <div class="navbar-menu" >
    <div id="navbarBasicExample" class="navbar-start">
      <div class="navbar-item has-dropdown is-hoverable ">
        <a class="navbar-item" routerLink="/" class="navbar-item">Home</a>
        <a class="navbar-item" routerLink="faq" class="navbar-item">Feature</a>
        <a class="navbar-item" routerLink="faq" class="navbar-item">About</a>
        <a class="navbar-item" routerLink="faq" class="navbar-item">FAQ</a>
      </div>
    </div>

    <div id="navbarBasicExample" class="navbar-end">

    
      <div class="navbar-item">
        <div class="field is-grouped">

          <p class="control">
            <a class="button is-primary is-outlined" href="">
              <span class="icon">
                <i class="fas fa-download"></i>
              </span>
              <span>Join Now</span>
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</nav>


<router-outlet></router-outlet>

<footer class="footer is-primary">
  <div class="container">
    <div class="column">
      <p>And this rifht is a spiffy footer, where you can put stuff.</p>
    </div>
    <div class="column has-text-right">
      <a class="icon" routerLink="#"><i class="fab fa-facebook-square"></i></a>
      <a class="icon" routerLink="#"><i class="fab fa-twitter"></i></a>
    </div>
  </div>
</footer>
